.container {
}

.mobile-nav-wrapper{
	display: flex;

}
.mobile-nav{
	height: 25px;
	width: 33%;
	border: 2px solid;
	text-align: center;
}

.navigation{
	display:none;
}
.navigation ul{
	display:none;
}
.navigation li{
	display: none;
}
.title h1{
	font-family:'Libre Baskerville';
	font-style: italic;
	color: #A1B2A8;
}

h2 {
	font-style: italic;
	font-weight: 200;
}

/* MOBILE Banner/navigation layout*/
.title h1{
	padding: 10px 5px 5px 5px;
}

.banner{
		background-color: #0C2E2B;
}

.navigation{
	display:flex;
	align-items: center;
	width: fill;
}

.navigation ul{
	list-style: none;
	display:flex;
	justify-content: flex-end;
  align-items: space-between;
 	margin:auto;
	margin: 10px auto 10px auto;
}

.navigation li{
	padding-left:2rem;
	margin: 0px;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 1em;
	color: #A1B2A8;
	justify-content: space-between;
}


/*Callout Text*/
h2{
	/*padding: 0em 1.5em 0em 1.5em;*/
}

/* Larger than phablet (also point when grid becomes active) */
/*h6{
	display:none;
}*/

@media (min-width: 777px) {
	.mobile-nav-wrapper{
		display: none;
	}

	.banner {
		padding: 25px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
	}

	/*Navigation*/
	.navigation{
		display:flex;
		align-items: flex-end;
	}

	.navigation ul{
		list-style: none;
		display:flex;
		justify-content: flex-end;
	  align-items: flex-end;
	 	margin:auto;
		margin-bottom: 0px;
	}

	.navigation li{
		padding-left:2rem;
		margin: 0px;
		font-family:'Muli';
		font-weight: 800;
		text-transform: uppercase;
		font-size: 1em;
		color: #A1B2A8;
	}

	/*Callout Text*/
	h2 .big-text{
		font-style: italic;
		font-weight: 200;
		padding: 0em 1.5em 0em 1.5em;
	}

	h6 {			/*"User experience research and design"*/
		display:block;
		margin: .75em 0 0 0;
		font-weight: 800;
		text-transform: uppercase;
		/*font-size: 1em;
		letter-spacing: .35em;*/
		color: #fff;
	}

	.title h1{
		font-family:'Libre Baskerville';
		font-style: italic;
		padding: 0;
		line-height: .9;
		color: #A1B2A8;
		margin: 0px;
	}

}
/*end media query*/



.navigation li:hover{
	color:#A8B301;
}

h3{
	font-family:'Libre Baskerville';
	font-style: italic;
	text-transform: uppercase;
	/*font-size: 2em;*/
	padding-left: 3%;
}

/*Method layout*/

.img {
	height:100px;
	width: auto;
	margin: 0;
	background: #f4dcc1;
}

h5{
	font-family:'Muli';
	font-weight: 800;
	text-transform: uppercase;
	font-size: 1em;
	margin: 0em 0em .75em 0em;
}
.method h5 {
	color:#A8B301;
}

#method-title{
	color:#A8B301;
	}

/*Work layout*/
.work h3, a{
	color: #FF645C;
}

	.sub-header h4{
		font-family:'Muli';
		font-weight: 800;
		text-transform: uppercase;
		/** font-size:1.25em; **/
		color: #888;
	}

div.background {
	height:400px;
  background: url("roda.jpg") no-repeat;
  background-size: cover;
  background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.transbox{
	background: url("box-10.png") no-repeat;
	background-size: cover;
	background-position: center;
}

.transbox h3{

	color: #FFF;
	margin: 0;
	padding: 25px;
	}


/*Contact Layout*/
.contact h3 {
	color: #653C5A;
}

/*Colors*/
.body-section-1 {
	background-color: #A1B2A8;
}

.body-section-3 {
	background-color:#FFF6E1;
}

.accent1 {
	   border-top: 4px solid #FF645C;
		 margin: 0px;
}

.accent2 {
	   border-top: 4px solid #A8B301;
		 margin: 0px;
}

.accent3 {
	   border-top: 4px solid #653C5A;
		 margin: 0px;
}

.footer {
	background-color:#0C2E2B;
	height: 15vh;
}
