
  	   	<div class="container sub-header">

          <div class="background-craft">
            <div class="transbox">
              <h3 class="layover">CraftTracker: Microbusiness Expense Tracker</h3>
            </div>
          </div>

        	<h4>
  	   			Rapid prototyping of a conceptual application.
  	   		</h4>

            <h2>
            Craft Tracker is a conceptual application that helps creative entrepreneurs manage their inventory and expenses.
            </h2>
            <h2>
            I completed this project while studing at DePaul on a team of three students.
            </h2>
<div class="showme" ng-if="showMore">
          <h4>
    	   		Prototype V1 - Conceptual Evaluation
    	   	</h4>

            <p>For this project, we completed a new design and testing cycle each week. Each prototype built incrementally upon the last. We used axure to build and host the prototypes. It allowed us to build in interactivity as well as designs for testing.</p>
            <p>Our first prototype focused on one basic feature: adding an expense by scanning a receipt.</p>

          <div class="row">
            <div class="three columns">
            <img class="image_fit_wide" src = "./images/ct-home.png">
            <p>Mobile home screen</p>
            </div>
            <div class="three columns">
            <img class="image_fit_wide" src = "./images/ct-camera_entry.png">
            <p>Scanning a receipt with camera on phone.</p>
            </div>
            <div class="three columns">
            <img class="image_fit_wide" src = "./images/ct-fireclay_stoneware.png">
            <p>Reviewing receipt items (stepping through each item)</p>
            </div>
            <div class="three columns">
            <img class="image_fit_wide" src = "./images/ct-receipt.png">
            <p>Confirmation screen</p>
            </div>
          </div>

          <div class="row">
            <div class="twelve columns aligned">
              <h4>Value Testing</h4>

              <h2>We tested the interactive prototype on six potential users to confirm the need for this type of application in the target audience.

              <em>  Our testers strongly felt that this application would be useful. </em></h2>
            </div>
          </div>

          <h4>
            Prototype V2 - Task Flow Refinement
          </h4>

            <p>During our first round of testing we discovered that the flow through the receipt scanning had some extra, unnecessary steps.</p>
            <p>In our second prototype, we simplified the receipt scanning steps and added stronger confirmation.</p>

          <div class="row">
            <div class="three columns">
            <img class="image_fit_wide" src = "./images/ct2-home.png">
            <p>Mobile home screen</p>
            </div>
            <div class="three columns">
            <img class="image_fit_wide" src = "./images/ct2-camera_entry.png">
            <p>Scanning a receipt with camera on phone.</p>
            </div>
            <div class="three columns">
            <img class="image_fit_wide" src = "./images/ct2-receipt.png">
            <p>Reviewing receipt items (all in one screen)</p>
            </div>
            <div class="three columns">
            <img class="image_fit_wide" src = "./images/ct2-save.png">
            <p>Confirmation screen</p>
            </div>
          </div>

            <h4>Prototype V3 - Responsive Views</h4>

              <p>After our first round of iteration and testing we began creating tablet and desktop views of the application. We also began creating the and feel of the design.</p>

              <div class="row">

                <div class="two columns aligned">
                <img class="image_fit" src="./images/ct3-mobile.png">
                <p>Mobile View</p>
                </div>

                <div class="four columns aligned">
                <img class="image_fit" src="./images/ct3-tablet.png">
                <p>Tablet View</p>
                </div>

                <div class="six columns aligned">
                <img class="image_fit" src="./images/ct3-desktop.png">
                <p>Desktop View</p>
                </div>
              </div>

              <div class="row">
                <div class="twelve columns aligned">
                  <h4>usability Testing</h4>

                  <h2>We tested the high-fideltity, interactive prototype on six potential users to identify usability issues. We completed the test with 6 participants, 2 participants per view.</h2>
                  <h2>We used the findings from this test to create a "final" polished axure prototype.</h2>
                </div>
              </div>

              <h4>Prototype V4 - Final, High-Fidelity Prototype</h4>

                <p>In our final round of testing we found that overall our participants were excited about the design idea. However, in some views they had difficulty finding the "Add Materials" button. They also felt that application was too "dry" and wanted it to be more fun and engaging to use.</p>

                <div class="row">

                  <div class="two columns aligned">
                  <img class="image_fit" src="./images/ct4-mobileflow1.png">
                  <p>Home page, add materials can be accessed by tray on bottom or in the hamburger menu.</p>
                  </div>

                  <div class="two columns aligned">
                  <img class="image_fit" src="./images/ct4-mobileflow2.png">
                  <p>Add tray open, user can now select the camera to begin scanning a receipt.</p>
                  </div>

                  <div class="two columns aligned">
                  <img class="image_fit" src="./images/ct4-mobileflow3.png">
                  <p>Mock up of camera scan</p>
                  </div>

                  <div class="two columns aligned">
                  <img class="image_fit" src="./images/ct4-mobileflow4.png">
                  <p>Items scanned from receipt, user can edit or delete before confirming.</p>
                  </div>

                  <div class="two columns aligned">
                  <img class="image_fit" src="./images/ct4-mobileflow5.png">
                  <p>Confirmation screen - we added a more "fun" message and icons to increase the playfulness of the app.</p>
                  </div>

                  <div class="two columns aligned">
                  <img class="image_fit" src="./images/ct4-mobileflow6.png">
                  <p>After confirmation, the user is returned to the desktop, which now has a running list of their materials.</p>
                  </div>

                </div>
              </div>
              <a href="#" ng-if="!showMore" ng-click="changeShow()">show more</a>

              <a href="#" ng-if="showMore" ng-click="changeShow()">show less</a>
            </div>
