
 	<div class="container sub-header">

    <div class="background">
      <div class="transbox">
        <h3 class="layover">User Centered Research Project</h3>
      </div>
    </div>

  	<h4>
 			Assessing new student retention at Omulu Capoeira
 		</h4>

      <h2>
        Omulu capoeira is a small, but quickly growing martial arts school that needed help retaining new students.
      </h2>
      <p>
        Omulu Capoeira was founded 7 years ago. They have come a long way since their beginning. Their first classes were held in rented rooms on the University of Minnesota campus and today they have their own studio space in Richfield. James Lynch and Jenny Blanchard are hoping to continue to grow their group so that it can become financially self-sustaining.
      </p>


<div class="showme" ng-if="showMore">
    <h4>
   		How can Omulu Capoeira improve its rate of new student retention?
   	</h4>

      <p> Omulu Capoeira has many people who come to try out a class. They have several avenues of attracting newcomers - from personal referrals, to online deals through Groupon and paper advertising through fliers and local newspapers. The challenge is retaining these new people. Many newcomers try a class or two and do not return.
      </p>
      <p>I began this user centered research project during the UXPA mentorship program in 2014.
      </p>
      <img class="image_fit_wide" src = "./images/flowchart.png">

    <h4>Interviews and Research </h4>
    <div class="row">

      <div class="six columns aligned">
        <p>I conducted 8 interviews with Omulu Capoeira members, new students, teachers and the Omulu Capoeira owners. I combined the findings from the interviews with observations from sitting in on new classes and created a findings and recommendations report to present to the owners of the group.
        </p>
        <p>I included recommendations about teacher training, the class experience as well as recommendations about the website revision.
        </p>
      </div>


      <div class="six columns aligned">
        <img class="image_fit" src="./images/omulu_interview.jpg">
      </div>

    </div>
    <div class="row">
      <div class="twelve columns aligned">
        <h4>Major Findings</h4>

        <h2>Capoeira is an unusual martial art.</h2>

        <h2>Many new students don't know what to expect at their first class.</h2>

        <h2>This leads to new students feeling uncomfortable and having a bad experience!</h2>
      </div>
    </div>

      <h4>Website Redesign &amp; Implementation</h4>

        <div class="row">

          <div class="four columns aligned">
          <p>Omulu Capoeira’s original website was basic and dated looking.</p>
          <p>It wasn’t doing a good job informing potential students of what to expect at their first class. The information for new students was there, but it wasn't immediately apparent. The site didn't have any clear callouts to guide a new student to the class schedule or information about their first class.</p>
          <P>So I created an interactive prototype to test out some new ideas.</p>
          </div>

          <div class="eight columns aligned">
          <img class="image_fit" src="./images/omulusite-01.png">
          </div>
        </div>


      <H4>Interactive Axure Prototypes</h4>
          <div class="row">
          <div class="four columns aligned">
            <p>In this first version, I created three major actions on the home page to help guide potential new students.</p>

              <ul>
                <li>WHAT IS CAPOEIRA: to give backgroun about the martial art.</li>
                <li>WHO CAN DO IT: to reasure the potential new student that all levels and abiilities are welcome.</li>
                <li>TRY A FREE CLASS: easy access to the class schedule with beginner classes highlighted.</li>
              </ul>

            <p> I used this interactive prototype to assess the design with potential new students.</p>
          </div>

          <div class ="eight columns aligned">
            <img class="image_fit" src="./images/omulusite-02.png">
          </div>
        </div>

        <H4>implementation</h4>
        <div class="row">
        <div class="four columns aligned">
        <p>I worked with two volunteer developers from Omulu Capoeira to create the new website.</p>
        <p> Challenges</p>
        <ul>
          <li>Small budget</li>
          <li>Team of volunteers</li>
          <li>Non-tech-savvy owners</li>
        </ul>

              <p>To make it easy to maintain we selected a Wordpress template that fit our ideal design.</p>
            </div>

            <div class ="eight columns aligned">
              <img class="image_fit" src="./images/omulusite-03.png">
            </div>
          </div>

        </div>

        <a href="#" ng-if="!showMore" ng-click="changeShow()">show more</a>

        <a href="#" ng-if="showMore" ng-click="changeShow()">show less</a>
  </div>
